
/*  Fonts  */
@font-face {
    font-family: 'raleway-regular';
    src: url('../fonts/raleway-regular.eot');
    src: url('../fonts/raleway-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-regular.woff') format('woff'),
         url('../fonts/raleway-regular.ttf') format('truetype'),
         url('../fonts/raleway-regular.svg#raleway-regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'raleway-semibold';
    src: url('../fonts/raleway-semibold.eot');
    src: url('../fonts/raleway-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-semibold.woff') format('woff'),
         url('../fonts/raleway-semibold.ttf') format('truetype'),
         url('../fonts/raleway-semibold.svg#raleway-semibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'raleway-bold';
    src: url('../fonts/raleway-bold.eot');
    src: url('../fonts/raleway-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-bold.woff') format('woff'),
         url('../fonts/raleway-bold.ttf') format('truetype'),
         url('../fonts/raleway-bold.svg#raleway-bold') format('svg');
    font-weight: normal;
    font-style: normal;

}



/*  General CSS*/
body{
    background: #fff;
}

.wrapper{
    width: 95%;
    margin: auto;
}

h1, h2, h3, h4, h5 ,h6{
    color: #626262;
    font-family: "raleway-regular", arial;
    letter-spacing: 1px;
}

h1              { font-size: 2em; margin: .67em 0 }
h2              { font-size: 1.5em; margin: .75em 0 }
h3              { font-size: 1.17em; margin: .83em 0 }
h5              { font-size: .83em; margin: 1.5em 0 }
h6              { font-size: .75em; margin: 1.67em 0 }
h1, h2, h3, h4,
h5, h6          { font-weight: bolder }

.clearfix:before,  
.clearfix:after {  
    content: " ";  
    display: table;  
}  
.clearfix:after {  
    clear: both;  
}  
 
.clearfix {  
    *zoom: 1;  
}


.logo {
    width: 10%;
}

.icon {
    border-radius: 30px;
}


/*    Billboard    */
.billboard{
    width: 100%;
    height: 690px;
    position: relative;
}
/* .billboard.light a {
    
} */

.billboard.light{
    background: url('Drinks.jpg') no-repeat;   
     
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.billboard .caption{
    margin-top: 130px;
    text-align: center;
}

.billboard .caption.light{
    color: #fff;
}

.billboard .caption.dark{
    color: #5d5d5d;
}

.billboard .caption h1{
    font-family: "raleway-bold";
    font-size: 50px;
    font-weight: bold; 
    margin-bottom: 30px;
}

.billboard .caption.light h1{
    color: #fff;
    text-shadow: 5px 5px 4px black;
}

.billboard .caption.dark h1{
    color: #5d5d5d;
}

.billboard .caption p{
    font-family: "raleway-regular";
    font-size: 24px;
    margin-bottom: 30px;
}

.billboard .caption.light p{
    color: #fff;
    text-shadow: 5px 5px 4px black;
}

.billboard .caption.dark p{
    color: #5d5d5d;
}

.billboard .caption hr{
    display: inline-block;
    height: 1px;
    width: 30px;
    border: 0!important;   
    margin: 0;
    padding: 0;
}

.billboard .caption.light hr{
    background: #fff;
}

.billboard .caption.dark hr{
    background: #5d5d5d;
}






/*    header    */
header{
    width: 100%;
    height: 125px;
}

header .logo{
    float: left;
    margin-top: 50px;
    width:9%;
}

header nav{
    float: right;
    margin-top: 57px;
}


header nav ul li{
    list-style: none;
    display: block;
    float: left;
    margin-left: 50px;
}

header nav ul li a{
    text-decoration: none;  
    font-family: "raleway-regular";
    padding: 0%;
    font-size: 12px;
    transition:all .2s linear;
    -webkit-transition:all .2s linear;
    -moz-transition:all .2s linear;
    -o-transition:all .2s linear;
}

header.light nav ul li a{  
        color: rgb(252, 246, 246);
        font-size: larger;
        text-align: right;
        text-shadow: 2px 2px #141414;
        font-weight: bolder;
    
}

header.light nav ul li a:hover{
    color: #B9B9B9;
}

header.dark nav ul li a{  
    color: #5d5d5d;
}

header.dark nav ul li a:hover{
    color: #919191;
}







/*    Services    */
.services ul{
    margin-top: 50px;
}

.services ul li{
    list-style: none;
    display: block;
    width: 313px;
    float: left;
    margin-left: 80px;
    text-align: center;
}

.services ul li:first-child{
    margin-left: 0;
}

.services ul li .separator{
    display: block;
    width: 1px;
    height: 20px;
    background: #f6f6f6;
    margin: 20px auto;
}

.services ul li h2{
    color: #616161;
    font-family: "raleway-bold";
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.services ul li p{
   color: #838181;
    font-family: "raleway-regular";
    font-size: 14px;
    line-height: 28px; 
    margin-top: 40px;
    letter-spacing: .5px;
}









.title{
    text-align: center;
    overflow: hidden;
}

.title h2{
    color: #616161;
    font-family: "raleway-bold";
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 20px 0;
    text-transform: uppercase;
}

.title h3{
    color: #9b9b9b;
    font-family: "raleway-regular";
    font-size: 14px;
    margin: 0 0 20px 0;
    font-weight: normal!important;
}

.title hr.separator{
    display: block;
    width: 40px;
    height: 1px;
    background-color: #ebebeb;
    margin: 0 auto;
    padding: 0;
    border: 0!important;
}











/*    footer    */
footer{
    padding: 35px 0;
    overflow: hidden;
}

footer .footer_logo{
    float: left;
}

footer .rights p{
    float: left;
    color: #838181;
    font-family: "raleway-regular";
    font-size: 13px;
    margin: 5px 0 0 40px; 
}

footer .rights p a{
    color: #777;
    font-family: "raleway-semibold";
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
}

footer nav ul{
    float: right;
    overflow: hidden;
    list-style: none;
    margin-top: 5px; 
}

footer nav ul li{
    float: left;
    margin-left: 25px;
}

footer nav ul li a{
    color: #838181;
    font-family: "raleway-regular";
    font-size: 13px;
    text-decoration: none;

    transition:all .2s linear;
    -webkit-transition:all .2s linear;
    -moz-transition:all .2s linear;
    -o-transition:all .2s linear;
}

footer nav ul li a:hover{
    color: #616161;
}













#navbar {
    margin-top: -0%;
    background-color: #333;
    height: 60px;
    z-index: 1;
    overflow: hidden;
    position: sticky;
    top: -0.1px;
}

#navbar a {
    text-decoration: none;
    padding:20px 60px;
    text-align: center;
    float: left;
    color: rgb(238, 221, 221);
    font-size: 18.5px;
}
#navbar a:hover {    
    color: rgb(129, 219, 88);
}

.heading{
    text-align: center;
    background-color: chocolate;
    color: cornsilk;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 29%;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    text-align: center;
    margin: 20px 0px 0px 40px;
  }
  .column:hover{
    background-color: rgb(249, 253, 253);
    box-shadow: 2px 2px 15px 4px #5c5757;
  }
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .column{
      background-color: azure;
      box-shadow: 5px 8px 5px 4px #888888;
  }

  .Name{
      font-size: medium;
      font-weight: bolder;
      color:rgb(2, 13, 17)
  }
  .Name:hover{
    color:rgb(228, 93, 15)
}


    
  .mobile-container {
    max-width: 100%;
    margin: auto;
    background-color: #555;
    color: white;
    border-radius: 10px;
  }
  #mu {
    max-width: 100%;
    margin: auto;
    background-color: #555;
    color: white;
    border-radius: 10px;
  }
  .topnav {
    overflow: hidden;
    background-color:transparent;
    position: relative;
  }
  .topnav1 {
    overflow: hidden;
    background-color:transparent;
    position: relative;
  }
  
  .topnav #myLinks {
    display: none;
  }
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  .topnav1 a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .topnav .active{
    color: orangered;
    text-shadow: 2px 2px 1px 1px white;
  }
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  .topnav1 a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .active {
    background-color:burlywood;
    color: white;
  }
  #mubtn{
      width: 100%;
      height: 50px;
      background-color: black;
      color: white;
      border: 0;
      font-size: medium;
  }
  #mu{
      display: none;
  }
  .text {
    position: relative;
    padding-left: 34%;
    text-transform: uppercase;
    font-family: verdana;
    font-size: 8em;
    font-weight: 700;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #ecde0e,
        1px 2px 1px #ecde0e,
        1px 3px 1px #ecde0e,
        1px 4px 1px #ecde0e,
        1px 5px 1px #ecde0e,
        1px 6px 1px hsl(34, 94%, 50%),
        1px 7px 1px hsl(34, 94%, 50%),
        1px 8px 1px hsl(34, 94%, 50%),
        1px 9px 1px hsl(34, 94%, 50%),
        1px 10px 1px hsl(34, 94%, 50%),
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}


  /*media auery*/
  @media only screen and (max-width: 2000px) {
    .mobile-container{
        display: none;
    }
    
    .billboard .caption .logo{
        display: none;
    }

    
  }
  @media only screen and (max-width: 640px) {
    header .logo, header nav{
        display: none;
    }
    .mobile-container{
        display:block;
    }
    .billboard .caption h1{
        font-size: 20px;
        font-weight: bold; 
        margin-bottom: 30px;
        margin-top: 60px;
    }
    .billboard .caption p{
        font-size: 12px;
        text-shadow:1px 1px black;
    }
    .column{
        width: 100%;
        margin: 20px 0px 0px 0px;
    }
    .heading{
        font-size: 21px;
    }
    footer .rights p{
        font-size: 11px;
        margin-left: 10%;
    }
    footer nav ul li{
        margin-top: 6px;
        margin-left: 8px;
    }
    
    footer nav ul{
    float: left;
    }
    .billboard .caption .logo{
        display: inline-block;
        width: 25%;
    }
    #navbar{
        display: none;
    }
    #mu{
        display: block;
    }
    #myLinks1{
        display: none;
    }
    .text {
        position: relative;
        padding-left: 30%;
        text-transform: uppercase;
        font-family: verdana;
        font-size: 2em;
        font-weight: 700;
        color: #f5f5f5;
    }
    

    
  }
